name: C/C++ CI
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  Build:
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        os:
          - ubuntu-22.04
    steps:
      - name: Install GStreamer (Linux)
        if: runner.os == 'Linux'
        uses: blinemedical/setup-gstreamer@main
        with:
          version: '1.22.9'
      - name: Install dependencies (Ubuntu)
        if: runner.os == 'Linux'
        run: >-
          sudo apt-get update

          sudo apt-get install -y curl libcurl4-openssl-dev cmake python3-pip python3-setuptools
      - uses: actions/checkout@v3
      - run: pip3 install meson ninja
      - run: 'git clone --recurse-submodules --depth 1 https://github.com/aws/aws-sdk-cpp.git -b 1.10.30'
      - run: cmake -DBUILD_ONLY="s3;sts" aws-sdk-cpp
      - run: make -j 4
      - run: sudo make install
      - run: meson build
      - run: ninja -C build
      - run: 'export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH'
      - run: ninja -C build test
